<template>
    <div>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        <i class="fa fa-calendar"></i>&nbsp;Calendar
                    </h1>
                    <!--<h2 class="subtitle">-->
                        <!--Primary subtitle-->
                    <!--</h2>-->
                </div>
            </div>

        </section>
        <div class="container">
        <full-calendar :events="events" @event-render="eventRendered" :defaultView="['month']" :editable="['false']" :timeFormat="['hh:mm']"></full-calendar>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                events: '',
                timeformat: 'hh:mm'
            }
        },
        methods: {
          displayEvent(event) {
              console.log(event);
          },
        eventRendered(event, element){
                element.append(
                    '<div class="event-details">' +
                    'S' + event.season + 'E' + event.number + '-' + event.name +
                    '</div >'
                )
            },
        },
        mounted() {
            const vm = this;
            axios.get('/library/fetch-calendar-shows')
                .then( function (response) {
                    vm.events = response.data;
                })
        }
    }
</script>

<style>
    @import '~fullcalendar/dist/fullcalendar.css';

    .weeks {
        background-color: #7957d5;

    }
    #calendar {
        margin: 2rem 0;
    }
    .fc-center>h2 {
        font-size: 2rem;
    }
    .fc-state-default {
        background-color: #7957d5;
        border-color: transparent;
        color: #fff;
        background-image: none;
        text-shadow: none;
        box-shadow: none;
    }

    .fc-event, .fc-event-dot {
        background-color: #7957d5;
        border: 1px solid #7957d5;
    }
    .fc-time, .fc-title {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .event-details {
        font-size: 0.75rem;
    }
</style>
