<template>
    <div>
    <section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-desktop is-vcentered">
                <div class="column">
                    <transition name="slideDown">
                    <h1 v-if="show" class="title is-size-1">
                        Welcome to ScreenPit
                    </h1>
                    </transition>
                    <transition name="slideLeft">
                    <h2 v-if="show" class="subtitle">
                        Search for your favorite TV shows. Get your own custom calendar with your TV schedule. See what your friends are watching.
                    </h2>
                    </transition>
                    <div class="box m-t-25">
                        <tv-search-form @searched="setKeyword"></tv-search-form>
                    </div>
                </div>
                <div class="column has-text-centered">
                    <transition
                            name="bounceRight"
                    >
                    <img v-if="show" src="/img/tv-poster-collage-sq.jpg" class="hero-img-poster">
                    </transition>
                </div>
            </div>
        </div>
    </div>
    </section>
        <div id="search-results">
    <tv-search-results :keyword="searchValue" :guest="unauthenticated" :user="userdata"></tv-search-results>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                show: false,
                searchValue: ''
            }
        },
        props: ['unauthenticated', 'userdata'],
        methods : {
            setKeyword: function (keyword) {
                this.searchValue = keyword;
            },
        },
        mounted() {
            this.show = !this.show;
//            console.log('Component mounted.')
        }
    }
</script>
