<template>
    <nav class="navbar" role="navigation" aria-label="main navigation" id="screenpit-nav">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    Screenpit
                </a>
            </div>
            <button class="button navbar-burger" v-bind:class="{ 'is-active': isActive }" @click.prevent="toggleActive" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="navbar-menu" :class="{ 'is-active': isActive}" id="navMenu">
                <div class="navbar-start">
                        <a class="navbar-item" href="/">
                            <i class="fa fa-search"></i>&nbsp;Search
                        </a>
                    <a class="navbar-item" v-if="!guest" href="/library">
                        <i class="fa fa-book"></i>&nbsp;Library
                    </a>
                    <a class="navbar-item" v-if="!guest" href="/calendar">
                        <i class="fa fa-calendar"></i>&nbsp;Calendar
                    </a>
                    <a class="navbar-item">
                        <i class="fa fa-users"></i>&nbsp;Users
                    </a>
                </div>
                <div class="navbar-end" v-if="guest">
                    <div class="navbar-item">
                        <div class="navbar-item">
                            <form class="field has-addons" method="get" action="/search">
                                <div class="control"><input class="input" type="search" placeholder="Search" name="omni" ></div>
                                <div class="control"><button class="button is-primary" type="submit">Search</button></div>
                            </form>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-primary" href="/login">
                                  <span class="icon">
                                    <i class="fa fa-sign-in"></i>
                                  </span>
                                    <span>Login</span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-primary" href="/register">
                                  <span class="icon">
                                    <i class="fa fa-user-plus"></i>
                                  </span>
                                    <span>Sign Up</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="navbar-end" v-else>
                    <div class="navbar-item">
                        <div class="navbar-item">
                            <form class="field has-addons" method="get" action="/search">
                                <div class="control"><input class="input" type="search" placeholder="Search" name="omni" ></div>
                                <div class="control"><button class="button is-primary" type="submit">Search</button></div>
                            </form>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <i class="fa fa-user"></i>&nbsp;{{ user.name }}
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/home">
                                My Profile
                            </a>
                            <a class="navbar-item">
                                Messages
                            </a>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <p class="control">
                            <a class="button is-primary" href="" @click.prevent="logout">
                                  <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                  </span>
                                <span>Logout</span>
                            </a>
                        </p>
                        <form id="logout-form" action="http://screenpit.dev/logout" method="POST" style="display: none;">
                            <input type="hidden" name="_token" :value="csrf">
                        </form>
                    </div>
                </div>
                    </div>
                </div>
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                isActive: false,
                csrf: ''
            }
        },
        props: ['user', 'guest'],
        methods : {
            toggleActive() {
                    this.isActive = !this.isActive;
            },
            logout() {
                document.getElementById('logout-form').submit();
            }
        },
        mounted() {
            this.csrf = window.csrf_token;

        }
    }
</script>
