<template>
    <article v-if="show" class="message is-primary" id="notification-message">
        <div class="message-header">
            <p>Success!</p>
            <button class="delete" aria-label="delete" @click.prevent="showFalse"></button>
        </div>
        <div class="message-body">
            {{ showTitle }} has been successfully added to your library!
        </div>
    </article>
</template>

<script>
    export default {
        data() {
            return {
                show: true,
            }
        },
        props: ['showTitle'],
        watch: {
            showTitle: function (newVal, oldVal) {
                const vm = this;
                vm.show = true;
            }
        },
        methods: {
            showFalse() {
                this.$emit('close');
            }
        },
        created: function () {

        },
        mounted() {
            const vm = this;
            setInterval(function () {
                vm.show = false;
                vm.showFalse();
            }, 3000);
        }
    }
</script>

<style>
    #notification-message{
    position: fixed;
    bottom: 20px;
    right: 20px;
        z-index: 2;
    }
</style>