
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "spacing";

// Bootstrap
@import "~bulma/bulma";
@import "~bulma-timeline/timeline";
html, body {
  height: 100%;
}

.footer {
  padding: 3rem 1.5rem;
}

#app {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -176px; /* the bottom margin is the negative value of the footer's height */
}

.push {
  height: 176px;
}

.hero-img-poster {
  border-radius: 50%;
  border: 5px solid white;
  max-height: 400px;
}

.hero-body{
  .title, .subtitle {
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
  }
}