.fade-enter-active,
.fadeIn,
.fade-leave-active,
.fadeOut {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fade-enter-active,
.fadeIn {
  animation-name: fadeIn;
}
.fade-leave-active,
.fadeOut {
  animation-name: fadeOut;
}