<template>

    <section class="section" id="my-shows">
        <div class="container">
            <h1 class="title">All Shows</h1>
            <transition name="fade">
                <show-info v-if="showInfo" :show="clickedShow" :myShow="myShows"></show-info>
            </transition>
            <div class="columns is-multiline">
                <div class="column is-2" v-for="show in shows">
                    <transition name="fade">
                        <show-card :show="show.show" @get-info="passShowInfo"></show-card>
                    </transition>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    export default {
        data() {
            return {
                shows: '',
                showInfo: false,
                clickedShow: '',
                myShows: false,
            }
        },
        methods: {
            passShowInfo: function (show) {
                const vm = this;
                vm.showInfo = true;
                vm.clickedShow = show;
            }
        },
        mounted() {
            const vm = this;
            axios.get('/users/fetch-all-shows')
                .then( function (response) {
                    vm.shows = response.data;
                });
        }
    }
</script>

<style>
    .library-show:hover {
        outline: 3px solid #7957d5;
    }
</style>
