<template>
    <div>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <i class="fa fa-book"></i>&nbsp;Library
                </h1>
                <!--<h2 class="subtitle">-->
                    <!--Primary subtitle-->
                <!--</h2>-->
            </div>
        </div>
        <div class="hero-footer">
            <div class="container">
                <div class="tabs is-boxed">
                    <ul>
                        <li :class="{ 'is-active' : overview }" class="is-primary">
                            <a @click.prevent="getOverview">
                                <span class="icon is-small"><i class="fa fa-television"></i></span>
                                <span>Overview</span>
                            </a>
                        </li>
                        <li :class="{ 'is-active' : myShows }" class="is-primary">
                            <a @click.prevent="getMyShows">
                                <span class="icon is-small"><i class="fa fa-television"></i></span>
                                <span>My Shows</span>
                            </a>
                        </li>
                        <li :class="{ 'is-active' : allShows }">
                            <a @click.prevent="getAllShows">
                                <span class="icon is-small"><i class="fa fa-music"></i></span>
                                <span>All Shows</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
        <transition name="custom-transition" enter-active-class="fadeIn">
            <library-overview v-if="overview" key="overview"></library-overview>
            <my-shows v-if="myShows" key="myShows"></my-shows>
        <all-shows v-if="allShows" key="allShows"></all-shows>
        </transition>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                overview: true,
                myShows: false,
                allShows: false
            }
        },
        methods: {
            getOverview(){
                this.overview = true;
                this.myShows = false;
                this.allShows = false;
            },
            getMyShows(){
                this.overview = false;
                this.myShows = true;
                this.allShows = false;
            },
            getAllShows(){
                this.overview = false;
                this.myShows = false;
                this.allShows = true;
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
