<template>
   <div>
       <div class="columns">
           <div class="column is-one-quarter">
               <img :src="show.image">
           </div>
           <div class="column is-three-quarters">
               <div class="card" id="show-info-card">
                   <div class="card-content">
                       <div class="level">
                           <div class="level-left">
                               <div class="level-item">
                                   <h1 class="is-size-3">{{show.title}}</h1>
                               </div>
                               <div class="level-item">
                                   <span class="tag is-medium">{{ show.network }}</span>
                               </div>
                           </div>
                           <div class="level-right">
                               <div class="level-item">
                                   <div class="tags has-addons">
                                       <span class="tag is-medium">Upcoming</span>
                                       <span class="tag is-primary is-medium" v-if="show.next_airdate">{{ show.next_airdate | formatDate }}</span>
                                       <span class="tag is-medium" v-else>N/A</span>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <p>{{show.summary}}</p>
                   </div>
                   <div class="card-footer">
                       <div class="card-footer-item"><p>Seasons: {{show.num_seasons}}</p></div>
                       <div class="card-footer-item"><p>Rating: {{show.average}}</p></div>
                       <div class="card-footer-item"><a class="button is-danger" :href="'/users/delete/' + show.id" v-if="myShow">Remove</a></div>
                   </div>
               </div>
           </div>
       </div>
       <hr>
   </div>
</template>

<script>
    export default {
        data() {
            return {
                shows: '',
            }
        },
        props: ['show', 'myShow'],
        filters: {
            formatDate: function (value) {
                if (!value) return ''
                return moment(String(value)).format('MM/DD/YY hh:mm')
            }
        },
        mounted() {
        }
    }
</script>

<style>
    .library-show:hover {
        box-shadow: 0 2px 2px 2px #7957d5;
    }
</style>
