<template>
   <div>
       <a @click.prevent="getShowInfo" v-scroll-to="'#my-shows'">
       <img class="library-show" :src="show.image">
       </a>
   </div>
</template>

<script>
    export default {
        data() {
            return {
                shows: '',
            }
        },
        props: ['show'],
        methods: {
          getShowInfo() {
              this.$emit('get-info', this.show);
          }
        },
        mounted() {
            const vm = this;
        }
    }
</script>

<style>
    .library-show:hover {
        box-shadow: 0 2px 2px 2px #7957d5;
        cursor: pointer;
    }
</style>
