<template>
     <div>

        <a class="is-primary heading m-t-10" @click.prevent="revealSummary" v-if="!showSummary"><i class="fa fa-arrow-down"></i>&nbsp;Reveal Summary</a>
             <transition name="custom" enter-active-class="fadeIn">
             <p v-if="showSummary" class="m-t-10">{{ episode.summary }}</p>
             </transition>
             <a class="is-primary heading m-t-10" @click.prevent="hideSummary" v-if="showSummary"><i class="fa fa-arrow-up"></i>&nbsp;Hide Summary</a>

     </div>
</template>

<script>
    export default {
        data() {
            return {
                showSummary: false,
            }
        },
        props: ['episode'],
        methods: {
            revealSummary: function () {
                this.showSummary = true;
            },
            hideSummary: function () {
                this.showSummary = false;
            }
        },
        mounted() {
            console.log('summary mounted');
        }
    }
</script>
