<template>
     <div>
         <ul class="timeline">
             <div v-for="dates in timeline">
                 <div v-for="(episodes, date) in dates">
             <li class="timeline-header">
                 <span class="tag is-medium is-primary">{{ date | formatDate }}</span>
             </li>
                     <li class="timeline-item" v-for="episode in episodes">
                         <div class="timeline-marker is-image is-32x32">
                             <img :src="episode.image">
                         </div>
                         <div class="timeline-content">
                             <p class="heading">{{ episode.show }} - S{{ episode.season }}E{{ episode.number }} - {{ episode.airdate | formatAirtime }}</p>
                             <p>{{ episode.name }}</p>
                             <episode-summary :episode="episode" v-if="episode.summary"></episode-summary>
                         </div>
                     </li>

                 </div>
             </div>
             <li class="timeline-header">
                 <span class="tag is-medium is-primary">End</span>
             </li>
         </ul>
     </div>
</template>

<script>
    export default {
        data() {
            return {
                timeline: [],
            }
        },
        filters: {
            formatDate: function (value) {
                if (!value) return ''
                return moment(String(value)).format('ddd MM/DD/YY')
            },
            formatAirtime: function (value) {
                if (!value) return ''
                return moment(String(value)).format('hh:mm a')
            }
        },
        mounted() {
            const vm = this;
            axios.get('/library/fetch-weekly-episodes')
                .then( function (response) {
                    vm.timeline = response.data;
                })
        }
    }
</script>
