<template>
        <section class="section" id="library-overview">
            <div class="container">
                <h1 class="title m-top-20">Overview</h1>
                <div class="columns">
                    <div class="column is-one-half is-tablet">
                                <h3 class="subtitle">Upcoming Episodes</h3>
                        <episode-timeline></episode-timeline>
                    </div>
                    <div class="column is-one-half is-tablet">
                    <h3 class="subtitle">User Activity</h3>
                    </div>
                </div>
            </div>
        </section>

</template>

<script>
    export default {
        mounted() {
            console.log('Overview mounted.')
        }
    }
</script>
