<template>
    <div id="add-show">
    <span v-if="canAdd" class="hint--top" aria-label="Add to Library"><a @click.prevent="addShow" class="button is-primary"><i class="fa fa-plus"></i></a></span>
        <span v-else class="hint--top" aria-label="Added"><a class="button is-success"><i class="fa fa-check"></i></a></span>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                canAdd: true,
            }
        },
        props: ['show'],
        watch: {
            show: function(newVal, oldVal) {
                const vm = this;
                vm.canAdd = true;
            }
        },
        methods: {
            addShow: function() {
                const vm = this;
                axios.post('/store', {
                    tvmaze_id: this.show.id,
                    title: this.show.name,
                    summary: this.show.summary,
                    network: this.show.network,
                    runtime: this.show.runtime,
                    image: this.show.originalImage,
                    premiered: this.show.premiered,
                    status: this.show.status,
                    average: this.show.rating.average,
                })
                    .then(response => {
                        vm.canAdd = false;
                        this.$emit('addedshow', this.show.name);
                    })
                    .catch(function (error) {
                        if (error.response.status == 401){
                            window.location.href = '/login'
                        }
                    });
            }
        },
        mounted() {
//            console.log('Component mounted.');
        }
    }
</script>

<style>
    #add-show {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;
    }
</style>