<template>
    <form class="field" v-on:submit.prevent="emit" id="search-form">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" v-model="keyword" type="text" placeholder="Find a show">
            </div>
            <div class="control">
                <button class="button is-primary" type="submit">
                    Search
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                keyword: ''
            }
        },
        methods: {
          emit: function () {
              this.$emit('searched', this.keyword);
          }
        },
        mounted() {
//            console.log('Component mounted.')
        }
    }
</script>
