<template>
    <section class="section" v-if="searched" style="position:relative">
        <div class="container">
            <h1 class="is-size-3">"{{keyword}}" Results</h1>
            <div class="columns is-multiline">
                <div class="column is-one-quarter" v-for="result in results">
                    <div class="card">
                        <tv-add-button :show="result" @addedshow="addShowName"></tv-add-button>
                        <div class="card-image">
                            <figure class="image">
                                <img v-if="result.images" :src="result.images.original" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ result.name }}</p>
                                    <p class="subtitle is-6">{{ result.network }}</p>
                                </div>
                            </div>

                            <div class="content">
                                <div class="result-summary" v-if="result.summary">
                                    {{ result.summary | truncate(200) }}
                                </div>
                            </div>
                        </div>
                        <footer class="card-footer p-5">
                            <div class="field is-grouped is-multiline">
                                <div class="control">
                            <div class="tags has-addons">
                                <span class="tag">Status</span>
                                <span class="tag is-primary">{{ result.status }}</span>
                            </div>
                                </div>
                                <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag">Runtime</span>
                                    <span class="tag is-primary">{{ result.runtime }}</span>
                                </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        <transition name="fade">
        <notification :showTitle="addedShow" v-if="addedShow" @close="closeNotification"></notification>
        </transition>
    </section>
</template>

<script>
    export default {
        data() {
         return {
             searched: false,
             results: '',
             addedShow: '',
         }
        },
        props: ['keyword', 'guest', 'user'],
        watch: {
          keyword: function(newVal, oldVal) {
              const vm = this;
              vm.searched = true;
              const url = '/search/' + newVal;
              axios.get(url)
                  .then(function (response) {
                      vm.results = response.data;
                  });
          }
        },
        methods: {
            addShowName: function(addedShow) {
                this.addedShow = addedShow;
            },
            closeNotification: function() {
                this.addedShow = '';
            },
            userShows: function() {

            }
        },
        filters : {
          truncate: function(string, value) {
              return string.substring(0, value) + '...';
          }
        },
        created: function () {
            const vm = this;
        },
        mounted() {
            console.log('results');
        }
    }
</script>

<style>
    .result-summary {
        font-size: .8rem;
    }
</style>
